body {

  min-height: 100vh;
  background: #111;
}
.nagivation {

  position: fixed;
  width: 60px;
  height: 100%;
  background: #3e0748;
  transition: 0.5s;
  overflow: hidden;
}

.nagivation:hover {
  width: 300px;
}
.nagivation ul {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  list-style-type: none;

}
.nagivation ul li {

  position: relative;
  width: 100%;
  list-style: none;

}
.nagivation ul li a {

  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}
.nagivation ul li a .icon {

  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}