*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background: #f5f5f5;
}

.top_navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #323232;
  box-shadow: 1px 0 2px rgba(0,0,0,0.124);
  display: flex;
  align-items: center;
}

.top_navbar .logo {
  width: 250px;
  font-size: 25px;
  font-weight: 700;
  pad: 0 25px;
  color: wheat;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-right: 1px solid #f5f5f5;
}

.top_navbar .menu {
  width: calc(100%-250px);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_navbar .hamburger {
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.top_navbar .hamburger:hover{
  color:#007dc3;
}

/*Top ^^ is for head bar*/

.sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #042321;
}

.sidebar ul li a{
 display: block;
 padding: 16px 25px;
 border-bottom: 1px solid #03374e;
 color: #0e94d4;
}

.sidebar ul li a:hover{
  background: #0e94d4;
  color: #fff;
 }

.sidebar ul li a .icon{
 font-size: 18px;
 color: white;
 vertical-align: middle;
}

.sidebar ul li a .text{
 margin-left: 19px;
 color: #fff;
 font-family: sans-serif;
 font-size: 18px;
 letter-spacing: 2px;
}

.hover_collapse .sidebar{
  width: 70px;
 }
 
 .hover_collapse .sidebar ul li a .text{
  display: none !important;
 }
 